<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start" >
      <ion-back-button defaultHref="/home" ></ion-back-button>
    </ion-buttons>
    <ion-title color="dark">Programas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-button id="open-modal" expand="block" color="tertiary"> 
    <ion-icon slot="start" name="heart-circle-outline"></ion-icon>
    ACIU-TV 
  </ion-button>

  <ion-button Href="/acontec" expand="block" color="tertiary"> 
    <ion-icon slot="start" name="heart-circle-outline"></ion-icon>
    ACONTEC-TV
  </ion-button>

  <ion-button id="open-modal3" expand="block" color="tertiary"> 
    <ion-icon slot="start" name="heart-circle-outline"></ion-icon>
    AEMPRE-TV
  </ion-button>

  <ion-button id="open-modal4" expand="block" color="tertiary"> 
    <ion-icon slot="start" name="heart-circle-outline"></ion-icon>
    ASQUEAPAC
  </ion-button>
  <ion-button id="open-modal5" expand="block" color="tertiary"> 
    <ion-icon slot="start" name="heart-circle-outline"></ion-icon>
    COTV
  </ion-button>
  <ion-button id="open-modal6" expand="block" color="tertiary"> 
    <ion-icon slot="start" name="heart-circle-outline"></ion-icon>
    MUSTV
  </ion-button>
  

  <ion-modal #modal trigger="open-modal" [enterAnimation]="enterAnimation" [leaveAnimation]="leaveAnimation">
    <ng-template>
      <ion-header>
        <ion-toolbar color="primary">
          <ion-title>ACIU-TV</ion-title>
          <ion-buttons slot="end">
            <ion-button color="tertiary" (click)="modal.dismiss()">Cerrar</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        
        <ion-card class="welcome-card">
          <img src="/assets/aciu.svg" alt="" />
          <ion-card-header>
          <ion-card-title> Aprendices ciudadanos transformando vida</ion-card-title>
          </ion-card-header>
          <ion-card-content >
            <p>Construimos país con responsabilidad social</p>
          </ion-card-content>
        </ion-card>
      </ion-content>
    </ng-template>
  </ion-modal>

  <div class="modal3">
    <ion-modal #modal trigger="open-modal3" [enterAnimation]="enterAnimation" [leaveAnimation]="leaveAnimation">
      <ng-template>
        <ion-header>
          <ion-toolbar color="primary">
            <ion-title>ACIU-TV</ion-title>
            <ion-buttons slot="end">
            <ion-button color="tertiary" (click)="modal.cancel()">Cerrar</ion-button>
            </ion-buttons>
          </ion-toolbar>
        </ion-header>
        <ion-content>
          
          <ion-card class="welcome-card">
            <img src="/assets/aciu.svg" alt="" />
            <ion-card-header>
            <ion-card-title> Aprendices ciudadanos transformando vida</ion-card-title>
            </ion-card-header>
            <ion-card-content >
              <p>Construimos país con responsabilidad social</p>
            </ion-card-content>
          </ion-card>
        </ion-content>
      </ng-template>
    </ion-modal>


  </div>
</ion-content>


      


