
.welcome-card ion-img {
    max-height: 20vh;
    overflow: hidden;
  }
  
  ion-card-content
  {
  text-align: center;
  color: rgb(255, 255, 255);
  }
  

  .open-modal ion-button{
    color: black;

  }

  .modal3 {
    animation-duration: 3s;
    animation-name: slidein;
    animation-iteration-count: 3;
    animation-direction: alternate;
  }