
.welcome-card ion-img {
    max-height: 20vh;
    overflow: hidden;
  }
  
  ion-card-content
  {
  text-align: center;
  color: rgb(255, 255, 255);
  }
  

  .open-modal ion-button{
    color: black;

  }
