<ion-header>
  <ion-toolbar color="primary">
    <ion-title >Galeria</ion-title>
    <ion-buttons slot="start" >
      <ion-back-button defaultHref="/home" ></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content >

  <iframe width="560" height="315" src="https://www.youtube.com/embed/EOtAMaTP75k" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

  
<h1></h1>


</ion-content>
