<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start" >
      <ion-back-button defaultHref="/home" ></ion-back-button>
    </ion-buttons>
    <ion-title Color="dark" >
         Egresado</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <ion-content [fullscreen]="true" class="ion-padding">
    <div class="h1">
    <h1>Eres importante</h1>
    </div>
   <div class="contenido">
  <p>
    Felicítate egresado: Al emprender el proyecto más importante, hoy emprendes a ser la empresa más importante. Bienvenido a tu cuarta fase.
  </p>
  <p>SEPA QUE: En electicidad hemos elegido ser conductores de transformación para dejar el mundo mejor. ¡FELICÍTATE!</p>
  <p></p>
  <p>Este espacio esta diseñado para ti, haz vivido un gran proceso y eres fuente de inspiración y cambio,
    es por ello que te queremos siempre en la familia PTV.</p>

   </div>

   <ion-card>
    <img alt="Silhouette of mountains" src="assets/img2.svg" />
    <ion-card-header>
      <ion-card-title>Recuerda tus raices</ion-card-title>
      <ion-card-subtitle>"El cambio no es solamente necesario en la vida, es la vida misma"</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content >
      <p >  
        Un viaje a través de los recuerdos... Antes solíamos plasmar 
        nuestras ideas en nuestro blog, ahora nos estamos reinventando para crecer 
        en lo espiritual y en lo ético con la ayuda de la tecnología, sin embargo puedes 
        realizar un nuevo comentario acerca de cómo el PTV ha sido evidencia de transformación 
        en tu vida.
      </p>
      <p></p>
      <p>
        Da click en ir... para ingresar a los comentarios.
      </p>

      <ion-item>
        <ion-icon name="chatbubble" slot="start" color="primary"></ion-icon>
        <ion-label>Blog</ion-label>
        <ion-button href="http://proyectoptv.blogspot.com/2012/02/directrices-para-entrega-de-evidencia.html"  fill="outline" slot="end" color="tertiary">Ir...</ion-button>
      </ion-item>
       
    </ion-card-content>
  </ion-card>
  </ion-content>
 
 
</ion-content>