<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start" >
      <ion-back-button defaultHref="/home" ></ion-back-button>
    </ion-buttons>
    <ion-title Color="dark" >
         Infórmate</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
<div class="informacion">
  <ion-row>
    <ion-col class="ion-align-self-start">
      <h3 class="ptv">¿Qué es el PTV?</h3>
      <p>
        <ion-text color="danger"><ion-icon name="flash"></ion-icon></ion-text>
        Es una experiencia pedagógica, que se viene construyendo y vivenciando desde el año 2007, en los diferentes ambientes 
        abiertos de aprendizaje del CENTRO DE LA TECNOLOGIA DE LA MANUFACTURA AVANZADA-CTMA
        <img src="/assets/estrella.png" alt="" />   
      </p>
      <h3 class="para">¿Para qué?</h3>
      <p>
        <ion-text color="tertiary"><ion-icon name="sunny"></ion-icon></ion-text>
        Para dar respuesta a la necesidad del SENA de dinamizar el proceso de formación, 
        necesidad que empieza a satisfacer, proponiendo la estrategia de formación por proyectos. Visionando con esta, mejorar la respuesta a la empresa o la creación de nuevas empresas, dado el perfil emprendedor que sucita la estrategia misma, y en donde la catedra está implícita, pero dimensionando esta,
         en la construcción de conocimiento para la solución de necesidades reales.  
      </p>
      <h1></h1>
      <img  class="image" src="/assets/CTMA.jpg" alt="" /> 

      <h3 class="paraque">¿Para qué el PTV en esta estrategia?</h3>
      <p>
        <ion-text color="primary"><ion-icon name="accessibility"></ion-icon></ion-text>
        Para empoderar al proyecto humano, como el proyecto más importante y por 
        tanto el más significativo en cualquier escenario (familia, empresa, educación y sociedad en general); en tanto es el único en capacidad 
        de aprender y desaprender en dichos escenarios.  
      </p>   
    </ion-col>

    

    
  </ion-row>

</div>

 
</ion-content>

