

  ion-title
  {
    font-family: cursive;
  }

  .informacion{
 
    margin-top: 6%;
    margin-left: 2%;
    margin-right: 2%;
    font-family: cursive;
    background-color: #fdb4bf ;
    //border-radius: 30px 30px 30px 30px;
    color :black;
    text-align: justify;
    overflow-x: scroll!important;
    overflow: hidden;    
  }

  .ptv{
    text-align: center;
  }

  .para{
    text-align: center;
  }

  .image{
    
    display: block;
  }

  .paraque{
    text-align: center;
  }

