<ion-header>
  <ion-toolbar color="primary">
    
    <ion-title color="dark">
      <ion-icon name="home"></ion-icon>
      Bienvenido 
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-card" >
    <img src="/assets/inicio.svg" alt="" />
    <ion-card-header>
      <ion-card-subtitle >Pas(z) y bien</ion-card-subtitle>
      <ion-card-title>PTV</ion-card-title>
    </ion-card-header>
  </ion-card>
  <ion-list lines="none">
    <ion-item href="/acerca">
    <ion-icon slot="start" color="pink" name="help-circle"></ion-icon>
    <ion-label>Más del PTV</ion-label>
  </ion-item>

    <ion-item href="/programas">
      <ion-icon slot="start" color="pink" name="heart-half"></ion-icon>
      <ion-label>Programas</ion-label>
    </ion-item>
    <ion-item href="/informacion">
      <ion-icon slot="start" color="pink" name="book"></ion-icon>
      <ion-label>Fases y evidencias</ion-label>
    </ion-item>
    <ion-item href="/galeria">
      <ion-icon slot="start" color="pink" name="image"></ion-icon>
      <ion-label>Galeria</ion-label>
    </ion-item>
    
    
  </ion-list>
</ion-content>

 
