#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #111010;

  margin: 0;
}

#container a {
  text-decoration: none;
}

.welcome-card ion-img {
  max-height: 35vh;
  overflow: hidden;
}

ion-card-content
{
text-align: left;
color: black;

}

ion-toolbar{
  text-align: left;
}