ion-slides
{
 height: 100%;
 //background-image: url('/assets/intro.gif') !important;
 //background-size: contain !important;
 //color:black;
 font: oblique bold 120% cursive;
 
}

.slide-1 {
 height: 100%;
 background-image: url('/assets/intro.gif') ;
 //background-size: contain !important;
background-size: cover;
background-position-x: center;
}
.slide-2 {

    height: 100%;
 background-image: url('/assets/slide2.jpg') ;
 //background-size: contain !important;
background-size: cover;
background-position-x: center;
}
.slide-3 {
   
height: 100%;
 background-image: url('/assets/slide3.png') ;
 //background-size: contain !important;
background-size: cover;
background-position-x: center;
}

.inicio
{
    font: oblique bold 120% cursive;
    
    
}