<ion-content>
  <ion-slides pager="true" [options]="slideOpts">
    <ion-slide class="slide-1">
      <h1></h1>
    </ion-slide>
    <ion-slide class="slide-2">
      <h1></h1>
    </ion-slide>
    <ion-slide class="slide-3">
      <h4></h4>
      <div class="inicio">
        <ion-button size="default" slot="end" [routerLink]="['/home']">
          <ion-icon slot="end" name="arrow-forward-outline"></ion-icon>
          Comenzar
        </ion-button>
      </div>

      
    </ion-slide>
  </ion-slides>
</ion-content>