<ion-header>
  <ion-toolbar>
    <ion-title>acontec</ion-title>
    <ion-buttons slot="end">
      <ion-button color="tertiary" Href="/programas">Cerrar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
        
  <ion-card class="welcome-card">
    <img src="/assets/acontec.svg" alt="" />
    <ion-card-header>
    <ion-card-title> Aprendices conversando con la tecnología</ion-card-title>
    </ion-card-header>
    <ion-card-content >
      <p>Conversando con la tecnología evidenciamos calidad de vida</p>
    </ion-card-content>
  </ion-card>
</ion-content>


